extends layout

block content
    
    header.header.container-fluid
            .row
              .col-lg-6.col-md-6.col-xs-6
                a(href='/')
                  h1.title TrueQ-iN
              |             
              .col-lg-6.col-md-6.col-xs-6
                .container-fluid
                  ul.navbar-right
                    a.btn-lg.butEntReg.btn.btn-warning.dropdown-toggle(data-toggle='dropdown')
                      | #{username} 
                      b.caret
                    |                         
                    ul.dropdown-menu
                      li
                        a(href='user-profile') Ver perfil
                      |                             
                      li
                        a(href='user-product') Subir producto
                      |                             
                      li
                        a(href='/logout') Salir

    .container.perfilUser
        .row
            .col-lg-12.col-md-12.col-xs-12
              .well.well-sm
                .row
                  .col-sm-6.col-md-3
                    img.img-rounded.img-responsive.imgPerfil(src='http://heimat.bz/wp-content/uploads/2015/12/egarter_02.png', draggable='false')
                  |                         
                  .col-lg-6.col-md-6.col-xs-6
                    h1 #{username}
                    |                             
                    h3
                      i.glyphicon.glyphicon-envelope
                      |  #{email}
                  |                         
                  div
                    button.btn-lg.btn.btn-warning.buttonPerfilSeparate(data-toggle='modal', data-target='#myModal') Cambiar datos de usuario
                    |                             
                    #myModal.modal.fade(role='dialog')
                      .modal-dialog
                        .modal-content
                          .modal-header
                            button.close(type='button', data-dismiss='modal') &times;
                            |                                             
                            h4.modal-title Perfil de usuario
                          |                                         
                          .modal-body
                            | Alias
                            input.form-control(type='text', name='', placeholder='Cambie el Alias...')
                            |  E-mail
                            |                                             
                            input.form-control(type='mailto', name='', placeholder='Cambie su correo...')
                            |  Cambie la foto de Perfil
                            |                                             
                            input.form-control(type='mailto', name='', placeholder='Cambie la foto de perfil, introduce una URL...')
                            |                                             
                            button.buttonChangePerfil.btn.btn-success Guardar
                            |                                             
                            button.buttonChangePerfil.btn.btn-danger Cancelar
                  |                         
                  div
                    button.btn-lg.btn.btn-warning(data-toggle='modal', data-target='#myModal2') Cambiar contrase&ntilde;a
                    |                             
                    #myModal2.modal.fade(role='dialog')
                      .modal-dialog
                        .modal-content
                          .modal-header
                            button.close(type='button', data-dismiss='modal') &times;
                            |                                             
                            h4.modal-title Contrase&ntilde;a
                          |                                         
                          .modal-body
                            | Contrase&ntilde;a anterior
                            input.form-control(type='text', name='', placeholder='Contraseña anterior...')
                            |  Nueva contrase&ntilde;a
                            |                                             
                            input.form-control(type='text', name='', placeholder='Cambie su contraseña...')
                            |  Repita su contrase&ntilde;a
                            |                                             
                            input.form-control(type='text', name='', placeholder='Repita su contraseña...')
                            |                                             
                            button.buttonChangePerfil.btn.btn-success Guardar
                            |                                             
                            button.buttonChangePerfil.btn.btn-danger Cancelar
            |             
            .container.panel.panel-default
              h4.panel-title
                span.glyphicon.glyphicon-th-list
                |  Productos subidos...
              |                 
              .panel-body
                .row
                  .col-lg-12
                    if (products)
                      each product in products
                        .col-sm-6.col-md-4          
                            .thumbnail.productPerfil(class=product.reserved ? "product-reserved" : "")                          
                              img(style='background-image: url('+ product.image +')')
                              |                                     
                              .caption
                                h3 #{product.title}
                                |                                         
                                p
                                  | #{product.description}
                                |                                         
                                .buttonsMyProducts
                                  a.btn.btn-primary(href=('product-info/'+ product._id), role='button', target='_blank') Mas info
                                  |                                         
                                  button.orderProduct.btn.btn-warning(data-id=product._id, role='button') Reservar
                                  |                                         
                                  button.remove.btn.btn-danger(data-id=product._id, role='button') Eliminar
                            |